html,
body {
  margin: 0;
  height: 100%;
  color: #fff;
  background: #000;
}

#root {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 100%;
  padding: 20px;
}

img {
  display: block;
  min-height: 0;
  max-width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* a, button */
.b {
  box-sizing: border-box;
  margin: 40px auto;
  border: none;
  width: 150px;
  padding: 10px 20px;
  color: #fff;
  background: #ff5200;
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}

.b:hover {
  background-color: #d34400;
}

.openSea {
  text-align: center;
  color: white;
  font-size: 16px
}

.availableToMint {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.disabled {
  background: #393939
}

.amountInput {
  display: block;
  width: 50px;
  align-items: center;
  align-self: center;
  background-color: #ff2300;
  color: white;
  border: none;
  margin-top: 30px;
  margin-bottom: -25px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  display: flex;
  flex-direction: column;
}